@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* share styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.display-flex {
    display: flex;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* orange */
.text-orange {
    color: #E95A08;
}

.btn-primary {
    background-color: #E95A08;
    color: white;
    padding: 22px 50px;
    font-weight: 600;
    border: none;
}

.banner-content-1 {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content-1 h1 {
    font-family: 'Noto Serif';
    font-size: 3rem;
}

.banner-content-1 p {
    font-family: 'inter';
    font-size: 1.1rem;
    margin-top: 10px;
}


/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links a:active {
    font-weight: bold;
}

.nav-item {
    list-style: none;
    margin-right: 48px;
}

.nav-link {
    text-decoration: none;
    Font-weight: 400;
    height: 1.5rem;
}

.navbar {
    max-width: 1140px;
    margin: 15px auto;
}

/* Banner related styles */
.banner {
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 120px;
}

.banner-content {
    max-width: 570px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-content h1 {
    font-family: 'Noto Serif';
    font-size: 3.5rem;
}

.banner-content p {
    font-family: 'inter';
    font-size: 1.1rem;
    margin-top: 10px;
}


/* Our Plants related styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    margin-bottom: 20px;
}

.card img {
    height: 322px;
    width: 70%;
    margin: auto 0px;
}

.card p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.card h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.card-container .card,
btn-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* responsive media query for small devices*/
@media screen and (max-width:576px) {
    .nav-section {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}