@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* share styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.display-flex {
    display: flex;
}

/* dark 02 */
.text-gray {
    color: rgba(0, 0, 0, 0.5);
}

/* orange */
.text-orange {
    color: #E95A08;
}

.btn-primary {
    background-color: #E95A08;
    color: white;
    padding: 22px 50px;
    font-weight: 600;
    border: none;
}

.banner-content-1 {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content-1 h1 {
    font-family: 'Noto Serif';
    font-size: 3rem;
}

.banner-content-1 p {
    font-family: 'inter';
    font-size: 1.1rem;
    margin-top: 10px;
}


/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links a:active {
    font-weight: bold;
}

.nav-item {
    list-style: none;
    margin-right: 48px;
}

.nav-link {
    text-decoration: none;
    Font-weight: 400;
    height: 1.5rem;
}

.navbar {
    max-width: 1140px;
    margin: 15px auto;
}

/* Banner related styles */
.banner {
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 120px;
}

.banner-content {
    max-width: 570px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-content h1 {
    font-family: 'Noto Serif';
    font-size: 3.5rem;
}

.banner-content p {
    font-family: 'inter';
    font-size: 1.1rem;
    margin-top: 10px;
}


/* Our Plants related styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    margin-bottom: 20px;
}

.card img {
    height: 322px;
    width: 70%;
    margin: auto 0px;
}

.card p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.card h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.card-container .card,
btn-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Plants Lover related styles*/

.trusted-container {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    gap: 100px;
    padding: 20px;
    background-color: #ffffff;
    margin: 120px auto 60px;
}

.image-badge img:first-child {
    max-width: 100%;
}

.image-badge img:last-child {
    position: absolute;
    width: 150px;
    margin-left: -106px;
    margin-top: -65px;
}


.trusted-content li {
    color: rgba(0, 0, 0, 0.5);
    margin: 15px auto;
}


.trusted-content h1 {
    font-family: 'Neto Serif';
    font-size: 3rem;
    font-weight: 700;
}

/* Latest Deals related styles */

.deals-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 60px;
}

.deal-card {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deal-card.small {
    width: 180px;
    height: 100px;
    flex-direction: column;
}

.deal-card.large {
    width: 380px;
    height: 220px;
}

/* Background images from CSS */
.card1 {
    background-image: url('../assets/deal-bloom.png');
}

.card2 {
    background-image: url('../assets/deal-ana.png ');
}

.card3 {
    background-image: url('../assets/deal-zabo.png');
}

.deal-text,
.deal-text2 {
    background: rgba(0, 0, 0, 0.4);
    padding: 35px;
    width: 100%;
    text-align: center;
}

.deal-text a {
    color: white;
    font-size: 0.6rem;
}

.deal-text2,
a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deal-text h3 {
    font-size: 0.6rem;
    margin-bottom: 5px;
}

.deal-text2 h3 {
    font-size: 14px;
}

.bunch-container {
    background-image: rgba(7, 51, 79, 0.4), url(../assets/news-letter-bg.png);
    ;
}

/* responsive media query for small devices*/
@media screen and (max-width:576px) {
    .nav-section {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .trusted-container {
        flex-direction: column;
    }

    .image-badge img:last-child {
        display: none;
    }

    .deals-grid {
        grid-template-columns: repeat (1, 1fr);
    }
}